/* styles/style.css */

/* --- Tema Claro --- */
[data-theme="light"] {
    --primary-color: #0068c9;
    --background-color: #FFFFFF;
    --secondary-background-color: #F0F2F6;
    --text-color: #31333F;
    --font: 'Source Sans Pro', sans-serif;
}

/* --- Tema Escuro --- */
[data-theme="dark"] {
    --primary-color: #1c83e1;
    --background-color: #0E1117;
    --secondary-background-color: #262730;
    --text-color: #FAFAFA;
}

/* Aplica as variáveis globalmente */
body {
    background-color: var(--background-color);
    color: var(--text-color);
}

/* Elementos da UI do Streamlit com as nossas variáveis */
.stApp {
    background-color: var(--background-color);
}

.st-emotion-cache-16txtl3 { /* Cor de fundo da sidebar */
    background-color: var(--secondary-background-color);
}

.stButton>button {
    border-color: var(--primary-color);
    background-color: var(--primary-color);
    color: #FFFFFF;
}

.st-emotion-cache-10trblm { /* Cor do texto principal */
    color: var(--text-color);
}

h1, h2, h3 {
    color: var(--primary-color);
}

/* Corrigindo a cor de fundo do expander */
.st-emotion-cache-a8lh1u {
    background-color: var(--secondary-background-color);
}